html, body, #map{ height: 100%; margin: 0; padding: 0;}

#magic-button {
  position: fixed;
  bottom: 20%;
  left: 15%;
  width: 70%;
  z-index: 1;
  background: #FEDA71;
  background: -moz-linear-gradient(top,#FEDA71 0%,#FEBB49 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FEDA71),color-stop(100%,#FEBB49));
  background: -webkit-linear-gradient(top,#FEDA71 0%,#FEBB49 100%);
  background: -o-linear-gradient(top,#FEDA71 0%,#FEBB49 100%);
  background: -ms-linear-gradient(top,#FEDA71 0%,#FEBB49 100%);
  background: linear-gradient(top,#FEDA71 0%,#FEBB49 100%);
  padding:8px 18px;
  color:#623F1D;
  font-family:'Helvetica Neue',sans-serif;
  font-size:22px;
  font-weight: bold;
  border-radius:48px;
  -moz-border-radius:48px;
  -webkit-border-radius:48px;
  border:1px solid #623F1D
}

#magic-button {
  outline: none;
}

.instr-label {
  width: 10em;
  font-size: 1.3em;
}
